# Environments
env/
__pycache__

# VSCode
.vscode/

# User
Datasets/Professor_Material
Datasets/Generated_Dataset
Datasets/Generated_Dataset2
Datasets/Generated_Dataset_BIG/images/
Datasets/Generated_Dataset_BIG/labels/
Datasets/Generated_Dataset_BIG/train
Datasets/Generated_Dataset_BIG/test
Datasets/Generated_Dataset_BIG/val
*.pdf


weights/wide_OLD