# Environments
env/
__pycache__

# VSCode
.vscode/

# User
Datasets/Professor_Material
Datasets/Generated_Dataset/images/
Datasets/Generated_Dataset/labels/
Datasets/Generated_Dataset/train
Datasets/Generated_Dataset/test
Datasets/Generated_Dataset/val
*.pdf
debugger.ipynb


